/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url('../assets/full-bloom.webp');
}

body > .container {
    margin-top: 60px;
}

/* Aligns the content to the center of window */
.container {
    max-width: 900px;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

header {
    background: white;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

h1 {
    display: inline-block;
    width: 30%;
    font-family: 'Rock Salt', cursive;
    color: rgb(0, 115, 186);
}

h2, 
h3, 
h4, 
h5, 
h6 {
    margin-bottom: 20px;
    font-family: 'Rock Salt', cursive;
}

h2 {
    font-size: 20px;
    border-bottom: 2px solid rgb(37, 37, 37);
}

p {
    margin: 20px 0;
    line-height: 140%;
}

nav {
    display: inline-block;
    width: 60%;
    text-align: right;
}

.dividerLink {
    border-left: 2px solid black;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
    color: rgb(0, 115, 186);
    padding: 0 20px;
    margin: 0 10px;
}

main, aside {
    background-color: white;
} 


main {
    max-width: 59%;
    float: left;
    padding: 20px;
    margin-right: 30px;
}

main img {
    float: left;
    margin-right: 20px;
}

aside {
    float: left;
    padding: 20px;
}

aside img {
    box-shadow: 1px 1px 6px black;
    border-radius: 10px;
    margin: 0 5px;
}

aside a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 40px;
    background-color: rgb(62, 62, 62);
    color: white;
    padding: 10px;
}
